*{
	color: grey;
}
/* main  */
main{
	height: calc(100vh - 100px);
}


/* nav */
nav{
	height: calc(100vh - 100px);
	width: 300px;
	background-color: #000000;
	overflow: auto;
}

/* logo  */

.logo{
	width: 70%;
	padding: 20px;
}
/* search */

.search,
.list-album{
	font-size: 1.1rem;
}

.search ul li,
.playlist h3,
.list-album ul li{
	padding: 20px 0 3px 20px;
}

.search img{
	width: 15%;

}
.search ul li{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search ul li img {
	padding-right: 10px;
}

/* playlist */


/* account  */

.account{
	margin-top: auto;
	margin-left: 20px;
	margin-right: 20px;
}
.account .instal-app,
.account .logged-account{
	padding: 10px 0 10px 0;
	display: flex;
	align-items: center;
}
.account .instal-app>*,
.account .logged-account>* {
	margin-right: 10px;
}

/* instal app */
.instal-app{
	border-bottom: 1px solid grey;
}
.img-download{
	color: grey;
	width: 20px;
}

/* log-account */
.img-profile{
	background-color: grey;
	width: 15%;
	border-radius: 50%;
}

.logged-account span{
	font-size: 1.2rem;
	font-weight: bolder;
	color: white;
}

/* header  */
header{
	height: 150px;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	width: calc(100vw - 316px);
	text-align: end;
	padding-top: 60px;
}

/* main-content */
.main-content{
	background-color: #141922;
}
/* content */
.content{
	height: calc(100vh - 150px);
	padding-top: 150px;
	overflow: auto;
	width: calc(100vw - 300px);
}

/* explore-bar */
.explore-bar{
	text-align: center;
	padding: 25px 0 25px 0;
	margin-bottom: 20px;

}

.explore-bar ul li{
	display: inline-block;
	padding-right: 25px;
}

/* footer  */
.play-bar{
	height: 100px;
	background-color: #282828;

}

.music,
.time-bar,
.stream-bar{
	display: flex;
	justify-content: space-between;
}

.time-bar{
	flex-grow: 1;
	text-align: center;
}
/* music  */
.music img{
	width: 18%;
}