*{
	color: grey;
}

h2,h3,h4,h5{
	color: white;
}

i{
	cursor: pointer;
}

/* main  */
main{
	height: calc(100vh - 100px);
}


/* nav */
nav{
	height: calc(100vh - 100px);
	width: 300px;
	background-color: #000000;
}


.overflow{
	overflow: auto;
}
/* logo  */

.logo{
	width: 70%;
	padding: 20px;
}
/* search */

.search,
.list-album{
	font-size: 1.1rem;
}

.playlist h3,
.list-album ul li{
	margin: 20px 0 3px 20px;
}

.search img{
	width: 15%;

}
.search ul li{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search ul li img {
	padding-right: 10px;
}
.search ul li{
	margin: 20px 0;
	padding-left: 20px;
}


/* playlist */
.playlist h3{
	font-size: 1.2rem;
	font-weight: bold;
}

.list-album li:hover{
	color: white;
}

/* account  */

.account{
	margin-top: auto;
	margin-left: 20px;
	margin-right: 20px;
}
.account .instal-app,
.account .logged-account{
	padding: 10px 0 10px 0;
	display: flex;
	align-items: center;
}
.account .instal-app>*,
.account .logged-account>* {
	margin-right: 10px;
}

/* instal app */
.instal-app{
	border-bottom: 1px solid grey;
}
.img-download{
	color: grey;
	width: 20px;
}

/* log-account */
.img-profile{
	background-color: grey;
	width: 15%;
	border-radius: 50%;
}

.logged-account span{
	font-size: 1.2rem;
	font-weight: bolder;
	color: white;
}

/* header  */
header{
	height: 100px;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	width: calc(100vw - 300px);
	text-align: end;
}

/* main-content */
.main-content{
	background-color: #141922;
}
/* content */
.content{
	height: calc(100vh - 100px);
	padding-top: 100px;
	overflow: auto;
	width: calc(100vw - 300px);
}

/* explore-bar */
.explore-bar{
	text-align: center;
	padding: 25px 0 25px 0;
	margin-bottom: 20px;

}

.explore-bar ul li{
	display: inline-block;
	margin-right: 25px;
}

.explore-bar ul li {
	border-bottom: 2px solid green;

}


/* cards */
.card-col h4,
.card-col:last-child{
	padding-bottom: 10px;
}

.content h4{
	font-size: 1.3rem;
}

.content h2{
	font-size: 1.8rem;
	font-weight: bold;
	padding-bottom: 15px;
}

/* footer  */
.play-bar{
	height: 100px;
	background-color: #282828;
}

.music,
.time-bar,
.stream-bar{
	height: 100px;
	display: flex;
	align-items: center;
}
.music,
.stream-bar {
	width: 300px;
}

.time-bar{
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}
/* music  */


.music .music-name,
.music .music-album{
	margin-left: 15px;
}

.favorite{

	margin-left: auto;
}

.favorite>*{
	padding: 0 10px;
}
.music-album{
	width: 60px;
}

/* time-bar  */
.time-bar{
	flex-direction: column;
}

.time-progres,
.time-batton{
	height: calc(100% / 2);
	align-items: center;
}

.time-batton>i {
	padding: 0 10px;
	color: white;
}

.time-batton>i{
	padding: 10px;
	font-size: 1.6rem;
	
}
.time-batton>i:nth-child(3){
	font-size: 2.5rem;
}

.time-progres>span{
	color: white;
	padding: 0 30px;
}

.progres-bar{
	width: 500px;
	height: 4px;
	border-radius: 1px;
	background-color: grey;
}

.progres{
	display: block;
	width: 30%;
	height: 100%;
	background-color: white;
}

/* stream-bar  */
.stream>i{
	color: white;
	padding: 0 10px;
}

.volume-bar {
	width: 150px;
	height: 4px;
	border-radius: 1px;
	background-color: grey;
}

.volume {
	display: block;
	width: 30%;
	height: 100%;
	background-color: white;
}
/* hover  */
i:hover {
	color: greenyellow;
}

.card-album:hover{
	filter: brightness(40%);
}

