/* debug */
.cubo{
	height: 500px;
	width: 500px;
	background-color: aqua;
	margin-bottom: 10px;
}

*{
	color: grey;
}
/* main  */
main{
	height: calc(100vh - 100px);
}


/* nav */
nav{
	height: calc(100vh - 100px);
	width: 300px;
	background-color: #000000;
	overflow: auto;
}

/* logo  */

.logo{
	width: 70%;
	padding: 20px;
}
/* search */

.search,
.list-album{
	font-size: 1.1rem;
}

.search ul li,
.playlist h3,
.playlist .crea-lista>span,
.list-album ul li{
	padding: 20px 0 3px 20px;
}

/* playlist */



/* account  */

.account{
	margin-top: auto;
	margin-left: 20px;
	margin-right: 20px;
}
.account .instal-app,
.account .logged-account{
	padding: 10px 0 10px 0;
	display: flex;
	align-items: center;
}
.account .instal-app>*,
.account .logged-account>* {
	margin-right: 10px;
}

/* instal app */
.instal-app{
	border-bottom: 1px solid grey;
}
.img-download{
	color: grey;
	width: 20px;
}

/* log-account */
.img-profile{
	background-color: grey;
	width: 15%;
	border-radius: 50%;
}

.logged-account span{
	font-size: 1.2rem;
	font-weight: bolder;
	color: white;
}

/* header  */
header{
	height: 100px;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	width: calc(100% - 300px);
}

/* main-content */
.main-content{
	background-color: #141922;
}

.content{
	height: calc(100vh - 100px);
	padding-top: 100px;
	overflow: auto;
	width: calc(100vw - 300px);
}

/* footer  */
.play-bar{
	height: 100px;
	
	/* debug */
	background-color: red;
	border: 1px solid white;

}

.music,
.time-bar,
.stream-bar{
	/* debug */
	width: 500px;
	height: 100px;
	background-color: red;
	border: 1px solid white;
}

.time-bar{
	flex-grow: 1;
	text-align: center;
}